/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h3, h5, p, li { 
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

.giftcard-header, .about-header, .romain-header {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
}

.giftcard p {
  align-items:stretch
}

.container {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  text-align: center;
  flex-wrap: wrap;
  /* padding: 50px 50px; */
}

.site-footer, .contact {
  display: flex;
  /* align-items: center;  */
  padding: 2em;
  justify-content: center;
}

.contact-footer {
  list-style-type: none;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 1em;
  justify-content: space-between;
}

li {
  padding-left: 0.75em;
  padding-right: 2.5em;
  align-items: center;
}

body{
  background-color: #fff;
}

.card-title { 
  color: orange;
  text-align: center;
}

nav {
 justify-content: center;
 display: flex;
}

/* .social-media a {
  font-size: 3rem;
  padding: 3rem;
  color: brown;
} */


