/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h3, h5, p { 
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

.container, p {
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  text-align: center;
  /* padding: 50px 50px; */
}

.site-footer, .contact {
  display: flex;
  align-items: center; 
  padding: 3em;
  justify-content: center;
}

body{
  background-color: #fff;
}

.card-title { 
  color: orange;
  text-align: center;
}

nav {
 justify-content: center;
 display: flex;
}



